body {
      height: 100vh;
      background: white;
      
    }
    
    h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      align-self: center;
      margin-left: 600px;
      color: grey;
      margin-top: revert;
    }
    
    .image {
      padding-left: 650px;
    }
    
    h3 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 650px;
      font-size: larger;
    }
    
    .close {
      -webkit-text-decoration-line: line-through;
      text-decoration-line: line-through;
    }
    
    .center {
      display: flex;
      align-content: stretch;
      justify-content: space-evenly;
      align-items: stretch;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .addNewTodobtn {
      padding: 0.5rem 1rem;
      color: white;
      border: none;
      margin: 0.5rem;
      background-color: gray;
   
    }
    
    ol {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: medium;
      display: inline-grid;
      align-content: stretch;
      justify-content: space-evenly;
      align-items: baseline;
      justify-items: stretch;
    }
    
    .forminput{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    
    .box{
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    
    